
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} 
body{
    background-color: rgb(233, 226, 226);
}

.header{ 
    background-image: url('../B12A01-landing-launchpad/Assets/Hero-bg.png');
    padding: 10px;
}
.logo{
    color:#4E47FF;
    font-size: 34px;
}   
.btn-style{
    width: 150px;
    height: 60px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    padding: 0 auto;
} 
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
    align-items: center;
} 


.header-box,h1{
    font-weight: bold;
    font-size: 50px;
    color: #252432;
    text-align: center;
    margin: 0 200px;
} 
.action-section{
    background-color: #dddcf0;
    
    border-radius: 10px;
   
    align-items: center;
    width: 1140px;
    height: 306px;
    margin: 50px auto;

} 
.action-50k{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
     align-items: center;
}
.action-section h2{
    font-weight: bold;
    font-size: 38px;
    color: #252432;
     text-align: center;
     margin-bottom: 40px;
     padding: 5px;
}
 
.action-section .action-50k .title {
  font-size: 60px; 
  font-weight: bold;
  color: #3b4bff;
  margin: 0;
}
.action-section .action-50k p{
    font-size:20px;
    font-weight: 400;
    color: #000000;
} 
.action-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    
} 



.section-container-3{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 50px 20px;

   
} 
.section-box .box-title{
    font-size: 45px;
    font-weight: bold;
    color: #252432;
    
}  
.section-box p{
    font-size: 24px;
    font-weight: 200;
    color: #565564;
    margin-left: 20px;
}

.section-img img {
  max-width: 100%;
  height: auto; 
  border-radius: 15px;
} 
.section-3{
    margin: o auto;
    padding: 50px 150px ;
} 


 .section-5{
    text-align: center;
     padding: 60px 20px;
 }

  .section-5-container{ 
    display: flex;
    justify-content:center;
     flex-wrap: wrap;
     gap: 30px;
    

   
    

} 
.section-5-review{
    background-color: white;
    font-size: 12px;
    padding: 15px; 
    font-weight: bold;
     background-color: rgb(243, 242, 242);
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
      
      width: 280px;
     text-align: left;
     
     
 } 
 .review-card img {
  width: 18px;
  margin-right: 3px;
}
 .section-5-container .card-heading{
    color: black;
    font-size: 15px;
    font-weight: bold;
 } 
 .card-distribute{
    font-size: 10px;
    font-weight: 200;
    color: rgb(70, 69, 69);
    margin-bottom: 15px;
 } 

 .section-5-heading{
     
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px 0 5px;
  color: #1c1c1e;
} 
.section-5-review small {
  font-size: 12px;
  color: #494646;
}




